/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilo para el botón de cerrar sesión */
.button {
    display: inline-block;
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 20px;
}

.button:hover {
    background-color: #c82333;
}

/* styles.css */

/* Estilos generales y para el contenedor ya están definidos */

select, input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h2 {
    margin-top: 20px;
}

table {
    margin-top: 20px;
}

button {
    background-color: #28a745; /* Color verde para confirmar */
    color: #fff;
}

button:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}

/* Puedes agregar más estilos según sea necesario */
